@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
/* ------------ Resets ------------ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #060A24;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #060A24;
}

h1,
h2 {
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* -------- End of Resets -------- */
/* ------------------------------- */
/* ----- Some General Styles ------ */
.title, .hero .maintitle {
  font-size: 2.25rem;
  line-height: 2.625rem;
  letter-spacing: 0;
}

.description {
  font-size: 1.5rem;
  text-align: center;
}

.btn, .social i, .menu__item {
  font-size: 1rem;
  line-height: 1.75rem;
}

.text {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

/* Spans to break text lines */
.break {
  font-size: 0;
  display: block;
}

/* ------------------------------- */
/* Blue dot in the main title */
.dot {
  color: #0000EC;
}

/* ------------------------------- */
/* Text Styles */
.title {
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 2rem;
}

.text {
  padding: 1rem 0;
}

.description {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

/* ---- End of General Styles ---- */
/* ------------------------------- */
/* ----------- Buttons ----------- */
.btn {
  text-transform: uppercase;
  color: #060A24;
  letter-spacing: 0;
  font-weight: 500;
  display: inline-block;
  background: #00F3BB;
  padding: 0.8rem;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:hover {
  text-decoration: line-through;
  color: #00F3BB;
}

.btn:active {
  color: rgba(6, 10, 35, 0.56);
}

.btn:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
  text-decoration: none;
}

/* -------- End of Buttons ------- */
/* ------------------------------- */
/* --------- Social Links -------- */
.social {
  width: 60vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social i:hover {
  color: #00F3BB;
}

/* ----- End of Social Links ----- */
/* ------------------------------- */
/* -------- Navigation Bar -------- */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6rem;
}

.navbar img {
  width: 1.5rem;
}

/* ---- End of Navigation Bar ---- */
/* ------------------------------- */
/* ------- Hamburguer Menu ------- */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  top: 2.8rem;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  background-color: #0000EC;
}

.menu__item {
  text-transform: uppercase;
  color: #060A24;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 1rem;
}

.menu__item:hover {
  text-decoration: line-through;
  color: #00F3BB;
}

.menu__item:active {
  color: rgba(6, 10, 35, 0.56);
}

.toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  cursor: pointer;
  width: 1.125rem;
  height: 0.75rem;
  opacity: 0;
}

.toggle:checked + .burger > div:before,
.toggle:checked + .burger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.toggle:checked:hover + .burger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.toggle:checked ~ .menu {
  visibility: visible;
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 3.1rem;
  height: 2.8rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 0.125rem;
  background: #060A24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.burger > div::before,
.burger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.3rem;
  width: 100%;
  height: 0.125rem;
  background: #060A24;
}

.burger > div::after {
  top: 0.3rem;
}

/* ---- End of Hamburguer Menu ---- */
/* -------------------------------- */
/* -------- Hero Section -------- */
.hero {
  padding: 2rem 1rem;
}

.hero .maintitle {
  display: inline;
  font-family: "IBM Plex Sans", sans-serif;
}

.hero .maintitle .linethrough {
  text-decoration: line-through;
}

/* ----- End of Hero Section ----- */
/* ------------------------------- */
/* ------ Episodes Section ------- */
.episodes {
  padding: 1rem;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
}

.episodes__iframes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1rem;
  padding: 2rem 0;
  margin-bottom: 9rem;
}

.episodes .title {
  color: #FFFFFF;
  padding-top: 1rem;
}

/* --- End of Episodes Section --- */
/* ------------------------------- */
/* ------ About Us Section -------- */
.about {
  padding: 27rem 1rem 1rem;
}

.about img {
  position: absolute;
  top: 94rem;
  left: 0.05rem;
}

.about .text:last-child {
  padding-top: 0;
}

/* --- End of About Us Section --- */
/* ------------------------------- */
/* ------- Guests Section -------- */
.guests__pics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.guests .title {
  margin: 1rem;
}

/* ---- End of Guests Section ---- */
/* ------------------------------- */
/* ------- Topics Section -------- */
.topics {
  padding: 1rem;
}

.topics__examples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 3.5rem;
  padding: 3rem 0;
}

.topics__examples .topic {
  text-align: center;
}

.topics__examples .topic img {
  width: 6.5rem;
  display: block;
  margin: 0 auto;
}

/* ---- End of Topics Section ---- */
/* ------------------------------- */
/* ------ Subscribe Section ------ */
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  padding: 4.19rem 1rem;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}

.subscribe .title {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 2rem;
}

/* --- End of Subscribe Section -- */
/* ------------------------------- */
/* ------------ Footer ------------ */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

/* -------- End of Footer -------- */
/* ------------------------------- */
/*# sourceMappingURL=styles.css.map */