@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
/* ------------------------------- *
 * ------------ Resets ----------- *
 * ------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #060A24;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #060A24;
}

h1,
h2,
h3 {
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* -------- End of Resets -------- */
/*                                 */
/* ------------------------------- *
 * ----- Some General Styles ----- *
 * ------------------------------- */
.title, .hero .maintitle {
  font-size: 2.25rem;
  line-height: 2.625rem;
  letter-spacing: 0;
}

.description {
  font-size: 1.5rem;
  text-align: center;
}

.btn, .social i, .menu__item {
  font-size: 1rem;
  line-height: 1.75rem;
}

.text {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

/* Spans to break text lines */
.break {
  font-size: 0;
  display: block;
}

/* Blue dot in the main title */
.dot {
  color: #0000EC;
}

/* Text Styles */
.title {
  font-family: "IBM Plex Sans", sans-serif;
}

.text {
  padding: 1rem 0;
}

.description {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  padding-top: 1rem;
}

/* ---- End of General Styles ---- */
/*                                 */
/* ------------------------------- *
 * ----------- Buttons ----------- *
 * ------------------------------- */
.btn {
  text-transform: uppercase;
  color: #060A24;
  letter-spacing: 0;
  font-weight: 500;
  display: inline-block;
  background: #00F3BB;
  padding: 0.8rem;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* -------- End of Buttons ------- */
/*                                 */
/* ------------------------------- *
 * --------- Social Links -------- *
 * ------------------------------- */
.social {
  width: 60vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ----- End of Social Links ----- */
/*                                 */
/* ------------------------------- *
 * ------- Navigation Bar -------- *
 * ------------------------------- */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.63rem 1rem;
}

.navbar img {
  width: 1.5rem;
}

/* ---- End of Navigation Bar ---- */
/*                                 */
/* ------------------------------- *
 * ------- Hamburguer Menu ------- *
 * ------------------------------- */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 2.8rem;
  right: 0;
  width: 100%;
  height: 18.75rem;
  z-index: 2;
  visibility: hidden;
  overflow: hidden;
  background-color: #0000EC;
}

.menu__item {
  text-transform: uppercase;
  color: #060A24;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 1rem;
}

/* Checkbox */
.toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  cursor: pointer;
  width: 1.125rem;
  height: 0.75rem;
  opacity: 0;
}

.toggle:checked + .burger > div:before,
.toggle:checked + .burger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.toggle:checked:hover + .burger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.toggle:checked ~ .menu {
  visibility: visible;
}

/* Burger Icon */
.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 3.1rem;
  height: 2.8rem;
  padding: 1rem;
}

.burger > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 0.125rem;
  background: #060A24;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.burger > div::before,
.burger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.3rem;
  width: 100%;
  height: 0.125rem;
  background: #060A24;
}

.burger > div::after {
  top: 0.3rem;
}

/* ---- End of Hamburguer Menu ---- */
/*                                  */
/* ------------------------------- *
 * --------- Hero Section -------- *
 * ------------------------------- */
.hero {
  padding: 2.25rem 1rem;
}

.hero .maintitle {
  display: inline;
  font-family: "IBM Plex Sans", sans-serif;
}

.hero .maintitle .linethrough {
  text-decoration: line-through;
}

.hero .text {
  padding-bottom: 2.25rem;
}

/* ----- End of Hero Section ----- */
/*                                 */
/* ------------------------------- *
 * ------ Episodes Section ------- *
 * ------------------------------- */
.episodes {
  padding: 4rem 1rem 9rem 1rem;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
}

.episodes__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.episodes__iframes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 1rem;
}

.episodes__container {
  width: 100%;
}

.episodes__container iframe {
  width: 17.1rem;
  height: 10rem;
  border: none;
}

.episodes .title {
  color: #FFFFFF;
}

/* --- End of Episodes Section --- */
/*                                 */
/* ------------------------------- *
 * ------ About Us Section ------- *
 * ------------------------------- */
.about {
  padding: 25rem 1rem 1rem;
}

.about img {
  position: absolute;
  top: 76.5rem;
  left: 0.05rem;
}

.about .text:last-child {
  padding-top: 0;
}

/* --- End of About Us Section --- */
/*                                 */
/* ------------------------------- *
 * ------- Guests Section -------- *
 * ------------------------------- */
.guests__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guests__pics img {
  width: 100%;
  margin: -5px 0;
}

.guests .title {
  padding: 1rem;
}

/* ---- End of Guests Section ---- */
/*                                 */
/* ------------------------------- *
 * ------- Topics Section -------- *
 * ------------------------------- */
.topics {
  padding: 2.25rem 1rem;
}

.topics__examples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 3.5rem;
  padding-top: 2.25rem;
}

.topics__examples .topic {
  text-align: center;
}

.topics__examples .topic img {
  width: 6.5rem;
  display: block;
  margin: 0 auto;
}

/* ---- End of Topics Section ---- */
/*                                 */
/* ------------------------------- *
 * ------ Subscribe Section ------ *
 * ------------------------------- */
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  padding: 4rem 1rem;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}

.subscribe .title {
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 2.25rem;
}

/* --- End of Subscribe Section -- */
/*                                 */
/* ------------------------------- *
 * ----------- Footer ------------ *
 * ------------------------------- */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

/* -------- End of Footer -------- */
/*                                 */
/* ------------------------------- *
 *   Wider Screen Cellphone Styles  *
 * ------------------------------- */
@media (min-width: 320px) {
  .about {
    padding-top: 29rem;
  }
  .about img {
    top: 74.5rem;
  }
  .episodes__container iframe {
    width: 19rem;
  }
}

@media (min-width: 361px) {
  .about img {
    width: 85%;
    height: 70%;
    left: 5%;
  }
}

@media (min-width: 400px) {
  .menu {
    height: 40%;
  }
  .about img {
    height: 70%;
  }
}

@media (min-width: 450px) {
  .about img {
    width: 70%;
    height: 85%;
    left: 15%;
  }
}

@media (min-width: 500px) {
  .about img {
    width: 70%;
    height: auto;
    left: 15%;
    top: 72rem;
  }
}

/* ------------------------------- *
 * Rotated Screen Cellphone Styles *
 * ------------------------------- */
@media (min-width: 568px) {
  .menu {
    height: 100vh;
  }
  .about {
    padding-top: 32rem;
  }
}

@media (min-width: 600px) {
  .about {
    padding-top: 31rem;
  }
  .about img {
    width: 60%;
    height: auto;
    left: 20%;
  }
}

@media (min-width: 675px) {
  .about img {
    height: 70%;
  }
}

@media (min-width: 730px) {
  .about {
    padding-top: 36rem;
  }
  .about img {
    height: auto;
  }
}

/* ------------------------------- *
 * -------- Tablet Styles -------- *
 * ------------------------------- */
@media (min-width: 768px) {
  /* Padding of Navbar */
  .navbar {
    padding: 1rem 6.25rem;
  }
  .navbar img {
    width: 2.25rem;
  }
  /*Horizontal Menu*/
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: visible;
    position: relative;
    top: 0;
    background-color: inherit;
    height: 100%;
    width: auto;
  }
  .menu__item {
    color: inherit;
  }
  /*Erase Hamburguer Menu*/
  .toggle {
    display: none;
  }
  .burger {
    display: none;
  }
  /* Erase line breaks */
  .break {
    display: none;
  }
  /* Size of paragraph in Hero */
  .hero {
    padding: 4rem;
  }
  .hero .text {
    max-width: 39.25rem;
    padding-bottom: 2.25rem;
  }
  /* Size of Buttons */
  .btn {
    display: inline-block;
    padding: 1rem 4rem;
    width: auto;
  }
  /* Episodes Section: Padding and Borders */
  .episodes {
    padding: 6.25rem 2.25rem 9rem;
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
            clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  }
  .episodes__iframes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .episodes__container {
    width: auto;
    margin: 0.5rem;
  }
  /* About Section Layout */
  .about {
    padding: 3.5rem 1rem 7.5rem;
  }
  .about img {
    position: absolute;
    top: 60rem;
    left: 0.05rem;
    width: 45%;
    height: auto;
  }
  .about .title {
    position: relative;
    left: 45vw;
    max-width: 50vw;
  }
  .about__text {
    position: relative;
    left: 45vw;
    max-width: 50vw;
  }
  /* Guests Section Layout */
  .guests__pics img {
    width: 50%;
  }
  .guests .title {
    padding: 2.25rem 6.25rem;
  }
  /* Topics Section Layout */
  .topics {
    padding: 2.25rem 6.25rem;
  }
  .topics__examples {
    -ms-grid-columns: (45%)[2];
        grid-template-columns: repeat(2, 45%);
  }
  /* Subscribe Section Layout */
  .subscribe {
    padding: 6.25rem;
  }
}

/* ----- End of Tablet Styles ---- */
/*                                 */
/* ------------------------------- *
 * ------- Desktop Styles -------- *
 * ------------------------------- */
@media (min-width: 900px) {
  /* Text Styles */
  .title {
    font-size: 3rem;
    line-height: 3.375rem;
  }
  .text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  /* Buttons Styles */
  .btn:hover {
    background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
    text-decoration: none;
  }
  /* Links Styles */
  .menu__item:hover:hover {
    text-decoration: line-through;
    color: #00F3BB;
  }
  .menu__item:hover:active {
    color: rgba(6, 10, 35, 0.56);
  }
  /* Navigation Bar Styles */
  .navbar {
    padding-top: 1.38rem;
    padding-bottom: 1.38rem;
  }
  /* Hero Section Styles */
  .hero {
    padding-right: 12.5rem;
    padding-left: 12.5rem;
  }
  .hero .maintitle {
    font-size: 4rem;
    line-height: 4.6rem;
  }
  /* Episodes Section Styles */
  .episodes {
    padding-top: 9rem 6.25rem;
  }
  .episodes .title {
    padding-left: 6.25rem;
  }
  /* About Section Styles */
  .about {
    padding-bottom: 11.63rem;
  }
  .about__text {
    max-width: 460px;
    left: 40vw;
  }
  .about .title {
    left: 40vw;
  }
  .about img {
    top: 69.63rem;
    left: 2.5rem;
    width: 21.87rem;
  }
  /* Guests Section Styles */
  .guests .title {
    padding-left: 12.5rem;
  }
  .guests__pics img {
    width: 33.33%;
  }
  /* Topics Section Styles */
  .topics {
    padding: 4rem 12.5rem;
  }
  .topics__examples {
    -ms-grid-columns: (20%)[4];
        grid-template-columns: repeat(4, 20%);
  }
  /* Subscribe Section Styles */
  .subscribe {
    padding-top: 13.31rem;
    padding-bottom: 9rem;
  }
  /* Footer Section Styles */
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 6.25rem;
    padding-left: 6.25rem;
  }
  /* Social Icons Styles */
  .social {
    margin: 0;
    justify-self: flex-end;
    width: 30%;
    padding: 0;
  }
  .social i {
    margin: 0 0.5rem;
  }
  .social i:hover {
    color: #00F3BB;
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transition: 1s 3ms ease;
    transition: 1s 3ms ease;
  }
}

/* ---- End of Desktop Styles ---- */
@media (min-width: 1024px) {
  .episodes__container iframe {
    width: 45vw;
    height: 15.625rem;
  }
  .about img {
    top: 80.63rem;
  }
}

@media (min-width: 1140px) {
  .about {
    padding-top: 6.25rem;
  }
  .about img {
    top: 75.63rem;
    left: 10vw;
    width: 28.125rem;
    height: 41.25rem;
  }
  .about .title {
    left: 50vw;
  }
  .about__text {
    max-width: 460px;
    left: 50vw;
  }
}

@media (min-width: 1400px) {
  .about {
    padding-top: 7.5rem;
  }
}

@media (min-width: 1600px) {
  .about img {
    left: 20vw;
  }
}
/*# sourceMappingURL=styles.css.map */