/* ------------------------------- *
 * --------- Hero Section -------- *
 * ------------------------------- */
.hero {
    padding: $padd-ver-3 $padding;

    .maintitle {
        @extend %bigfont;
        display: inline;
        font-family: $title-font;

        .linethrough {
            text-decoration: line-through;
        }
    }

    .text {
        padding-bottom: $padd-ver-3;
    }
}
/* ----- End of Hero Section ----- */
/*                                 */

/* ------------------------------- *
 * ------ Episodes Section ------- *
 * ------------------------------- */
.episodes {
    padding: $padd-ver-5 $padding $padd-ver-7 $padding;
    background-image: $section-gradient;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);

    &__flex {
        @include flexbox;
    }

    &__iframes {
        @include gridpics;
        justify-items: center;
        padding-top: $padding;
    }

    &__container {
        width: 100%;

        iframe {
            width: $iframe-hor-size;
            height: $iframe-ver-size;
            border: none;
        }
    }

    .title {
        color: $back-color;
    }
}
/* --- End of Episodes Section --- */
/*                                 */

/* ------------------------------- *
 * ------ About Us Section ------- *
 * ------------------------------- */
.about {
    padding: $padd-ver-10 $padding $padding;

    img {
        position: absolute;
        top: $pos-ver-mob;
        left: $pos-hor-mob;

    }

    .text:last-child {
        padding-top: 0;
    }
}
/* --- End of About Us Section --- */
/*                                 */

/* ------------------------------- *
 * ------- Guests Section -------- *
 * ------------------------------- */
.guests {
    
    &__pics {
        @include flexpics;
        
        img {
            width: 100%;
            margin: $margin-small;
        }
    }

    .title {
        padding: $padding;
    }
}
/* ---- End of Guests Section ---- */
/*                                 */

/* ------------------------------- *
 * ------- Topics Section -------- *
 * ------------------------------- */
.topics {
    padding:$padd-ver-3 $padding;
    
    &__examples {
        @include gridpics;
        gap: $padd-ver-4;
        padding-top: $padd-ver-3;

        .topic {
            text-align: center;

            img {
                width: $topic-img-size;
                display: block;
                margin: $margin-center;
            }
        }
    }
}
/* ---- End of Topics Section ---- */
/*                                 */

/* ------------------------------- *
 * ------ Subscribe Section ------ *
 * ------------------------------- */
.subscribe {
    @include flexbox;
    flex-direction: column;
    background-image: $section-gradient;
    padding: $padd-ver-5 $padding;
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);

    .title {
        color: $back-color;
        text-align: center;
        padding-bottom: $padd-ver-3;
    }
}
/* --- End of Subscribe Section -- */
/*                                 */

/* ------------------------------- *
 * ----------- Footer ------------ *
 * ------------------------------- */
.footer {
    @include flexbox;
    flex-direction: column;
    padding: $padding;

}
/* -------- End of Footer -------- */
/*                                 */