/* ------------------------------- *
 *   Wider Screen Cellphone Styles  *
 * ------------------------------- */
@media (min-width: 320px) {
    .about {
        padding-top: 29rem;
        img {
            top: 74.5rem;
        }
    }

    .episodes {
        &__container {
            iframe {
                width: 19rem;
            }
        }
    }
}


@media (min-width: 361px) {
    .about {
        img {
            width: 85%;
            height: 70%;
            left: 5%;
        }
    }
}

@media (min-width: 400px) {
    .menu {
        height: 40%;
    }
    
    .about {
        img {
            height: 70%;
        }
    }

}

@media (min-width: 450px) {
    .about {
        img {
            width: 70%;
            height: 85%;
            left: 15%;
        }
    }
}


@media (min-width: 500px) {
    .about {
        img {
            width: 70%;
            height: auto;
            left: 15%;
            top: 72rem;
        }
    }
}
/*                                 */

/* ------------------------------- *
 * Rotated Screen Cellphone Styles *
 * ------------------------------- */
 @media (min-width: 568px) {
    .menu {
        height: 100vh;
    }

    .about {
        padding-top: 32rem;
    }
}

@media (min-width: 600px) {

    .about {
        padding-top: 31rem;

        img {
            width: 60%;
            height: auto;
            left: 20%;
        }
    }
}

@media (min-width: 675px) {

    .about {
        
        img {
            height: 70%;
        }
    }
}

@media (min-width: 730px) {

    .about {
        padding-top: 36rem;

        img {
            height: auto;
        }
        
    }
}
/*                                 */

/* ------------------------------- *
 * -------- Tablet Styles -------- *
 * ------------------------------- */
@media (min-width: 768px) {

/* Padding of Navbar */
.navbar {
        padding: $padding $padd-hor-mid;

        img {
            width: $logo-desk-size;
        }
    }
    
/*Horizontal Menu*/
.menu {
    @include flexmenuhor;
    visibility: visible;
    position: relative;
    top: 0;
    background-color: inherit;
    height: 100%;
    width: auto;

    &__item {
        a {
            color: inherit;
        }
    }
}

/*Erase Hamburguer Menu*/
.toggle {
    display: none;
}
.burger {
    display: none;
}

/* Erase line breaks */
.break {
    display: none;
}

/* Size of paragraph in Hero */
.hero {
    padding: $padd-ver-5;

    .text {
        max-width: $text-size;
        padding-bottom: $padd-ver-3;
    }
}

/* Size of Buttons */
.btn {
    display: inline-block;
    padding: $padding $padd-ver-5;
    width: auto;
}

/* Episodes Section: Padding and Borders */
.episodes {
    padding: $padd-hor-mid $padd-ver-3 $padd-ver-7;
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);

    &__iframes {
        grid-template-columns: repeat(2, 1fr);
        gap: $padding;
    }

    &__container {
        width: auto;
        margin: $margin;
    }
}

/* About Section Layout */
.about {
    padding: $padd-ver-4 $padding $padd-ver-6;

    img {
        position: absolute;
        top: $pos-ver-tab;
        left: $pos-hor-mob;
        width: 45%;
        height: auto;
    }

    .title {
        @include position;
    }

    &__text {
        @include position;
    }
}

/* Guests Section Layout */
.guests {

    &__pics {
        img {
            width: 50%;
        }
    }

    .title {
        padding: $padd-ver-3;
    }

}

/* Topics Section Layout */
.topics {
    padding: $padd-ver-3;

    &__examples {
        grid-template-columns: repeat(2, 45%);
    }

}

/* Subscribe Section Layout */
.subscribe {
    padding: $padd-hor-mid;
}

}

/* ----- End of Tablet Styles ---- */
/*                                 */

/* ------------------------------- *
 * ------- Desktop Styles -------- *
 * ------------------------------- */
@media (min-width: 900px) {

    /* Text Styles */
    .title {
        @include bigfontdesk;
    }
    
    .text {
        @include normalfontdesk;
    }

    /* Buttons Styles */
    .btn {
        &:hover {
            background: $button-gradient;
            color: $back-color;
            text-decoration: none;
        }
    }

    /* Links Styles */
    .menu {
        &__item {
            a {
                &:hover {
                    @include link-desk;
                }
            }
        }
    }

    /* Navigation Bar Styles */
    .navbar {
        padding-top: $padd-ver-2;
        padding-bottom: $padd-ver-2;
    }

    /* Hero Section Styles */
    .hero {

        .maintitle {
            @include biggerfont;
        }
    }

    /* About Section Styles */
    .about {
        padding-bottom: $padd-ver-9;

        &__text {
            max-width: 460px;
            left: 40vw;
        }

        .title {
            left: 40vw;
        }

        img {
            top: 69.63rem;
            left: 2.5rem;
            width: 21.87rem;
        }
    }

    /* Guests Section Styles */
    .guests {

        &__pics {
            img {
                width: 33.33%;
            }
        }
    }

    /* Topics Section Styles */
    .topics {
        padding-top: $padd-ver-5;

        &__examples {
            grid-template-columns: repeat(4, 20%);
        }
    }

    /* Subscribe Section Styles */
    .subscribe {
        padding-top: $padd-ver-8;
        padding-bottom: $padd-ver-7;
    }

    /* Footer Section Styles */
    .footer {
        @include flexmenuhor;
        padding-right: $padd-hor-mid;
        padding-left: $padd-hor-mid;
    }

    /* Social Icons Styles */
    .social {
        margin: 0;
        justify-self: flex-end;
        width: 30%;
        padding: 0;

        i {
            margin: 0 $margin;

            &:hover {
                color: $light-color;
                transform: scale(2);
                transition: 1s 3ms ease;
            }
        }
    }
}
/*                                 */

 /* ------------------------------- *
 * ----- Wider Desktop Styles ----- *
 * ------------------------------- */
 @media (min-width: 1024px) {
    .episodes {
        &__container {
            iframe {
                width: 40vw;
                height: 15.625rem;
            }
        }
    }

    .about {
        img {
            top: 80.63rem;
        }
    }
}

@media (min-width: 1140px) {
    .about {
        padding-top: $padd-hor-mid;

        img {
            top: 75.63rem;
            left: 10vw;
            width: 28.125rem;
            height: 41.25rem;
        }

        .title {
            left: 50vw;
        }

        &__text {
            max-width: 460px;
            left: 50vw;
        }
    }
}

@media (min-width: 1280px) {
    .hero {
        padding-left: $padd-hor-big;
        padding-right: $padd-hor-big;
    }

    .episodes {
        padding-left: $padd-hor-mid;
        padding-right: $padd-hor-mid;

        .title {
            padding-left: $padd-hor-mid;
        }
    }

    .guests {
        .title {
            padding-left: $padd-hor-big;
        }
    }

    .topics {
        padding-left: $padd-hor-big;
        padding-right: $padd-hor-big;
    }
}

@media (min-width: 1400px) {
    .about {
        padding-top: $padd-ver-6;
    }
}

@media (min-width: 1600px) {
    .about {
        img {
            left: 20vw;
        }
    }
}
 /* ---- End of Desktop Styles ---- */
 /*                                 */