$back-color: #FFFFFF;
$darker-color: #060A24;
$dark-color: #0000EC;
$light-color: #00F3BB;
$lighter-color: rgba(6, 10, 35, 0.56);
$button-gradient: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$section-gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);

$main-font: 'IBM Plex Mono', monospace;
$title-font: 'IBM Plex Sans', sans-serif;

$margin: 1rem;
$margin-big: 2rem;
$padding: 1rem;
$padding-big: 4.19rem;
$padding-small: 0.6rem;