$back-color: #FFFFFF;
$darker-color: #060A24;
$dark-color: #0000EC;
$light-color: #00F3BB;
$lighter-color: rgba(6, 10, 35, 0.56);
$button-gradient: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$section-gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);

$main-font: 'IBM Plex Mono', monospace;
$title-font: 'IBM Plex Sans', sans-serif;

$logo-mob-size: 1.5rem;
$logo-desk-size: 2.25rem;
$iframe-ver-size: 10rem;
$iframe-hor-size: 20.313rem;
$topic-img-size: 6.5rem;
$text-size: 39.25rem;

$pos-ver-mob: 82.5rem;
$pos-ver-tab: 62rem;
$pos-hor-mob: 0.05rem;
$pos-hor-tab: 45vw;

$margin: 0.5rem;
$margin-center: 0 auto;
$margin-mid: 2rem;
$margin-small: -5px 0;

$padding: 1rem;
$padd-hor-mid: 6.25rem;
$padd-hor-big: 12.5rem;
$padd-ver-1: 0.63rem;
$padd-ver-2: 1.38rem;
$padd-ver-3: 2.25rem;
$padd-ver-4: 3.5rem;
$padd-ver-5: 4rem;
$padd-ver-6: 7.5rem;
$padd-ver-7: 9rem;
$padd-ver-8: 13.31rem;
$padd-ver-9: 11.63rem;
$padd-ver-10: 31rem;
